@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&family=Water+Brush&display=swap');
:root {
  --primary-color: #013498;
}


.information-section{
    background-color: #eaeaea;
    padding-bottom: 3em;
    padding-top: 1em;
}  
img {
  display: block;
    width: 100%;


  }
.list{
  display: flex;
}

.item { 
  flex: 0 0 50%; 
  margin-left: 20px;
  margin-right: 20px; 
}

.title{
  
  display: block;
  margin: 0;
  padding: -50px;
 margin-left: 1em;
  
}
.try{
  margin-top: -1em;
}
h2{
  margin-top: -0.5em;
}
.book-now-cta-2 {
        color: white;
        background-color: var(--primary-color);
        border-radius: 5em;
        margin-top: -.2em; 
        padding:  0.5em 1.5em;
        
        margin-right: 0.5em;
        font-family: 'IBM Plex Sans';
        text-decoration: none;
     
     }
.cta-button{
  margin-top: 2em;
  margin-left: 1em;
}
     .button-options{
      margin-top: 5em;
      
        
     
     }

   .together{
       margin-top: -1em;
   }
     .question-section{
         margin-top:4em;
     }
