@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&family=Water+Brush&display=swap");

:root {
  --primary-color: #013498;
}
.book-now-cta-2 {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  color: white;
  background-color: var(--primary-color);
  border-radius: 5em;
  margin-top: -0.2em;
  padding: 0.5em 1.5em;
  margin-right: 0.5em;
  font-family: "IBM Plex Sans";
}
.booking-section {
  display: block;
  margin: 0px;
  justify-content: center;
}
.booking-form {
  max-width: 100%;
  background-color: lightblue;
  display: block;
  padding: 1em 2em;
  font-family: Arial;
}

.get-quote-btn {
  margin-top: 2em;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
p {
  font-size: 2em;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
}
.time {
  display: flex;
}

#start-time,
#end-time {
  padding: 1em;
  width: 40%;
  text-align: center;
  margin-top: -2em;
}

#myID {
  padding: 1em;
  width: 30%;
  text-align: center;
  margin-top: -2em;
}
#residence {
  padding: 1em;
  width: 80%;
  margin-top: -2em;
}
.header {
  background-color: white;
  padding-top: 1em;
}
.title {
  display: flex;
  justify-content: center;
}
.hour-minimum {
  display: flex;
  justify-content: center;

  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.5em;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
