@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=IBM+Plex+Sans:wght@100&family=Water+Brush&display=swap");

:root {
  --primary-color: #013498;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: inline;
}
body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Helvetica";
}
hero.container {
  padding: 0;
  margin: 0;
}
description.container {
  padding: 0;
  margin: 0;
}

.navbar {
  a {
    font-family: IBM Plex Sans;
    text-decoration: none;
  }
  background: white;
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.3em;

    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
  }
}
a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section {
  padding: 5em 2em;
}

.hero {
  padding: 0;
  margin: 0;
  text-align: center;
  max-width: 100%;
  height: auto;
  font-size: 0;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.top-row {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }
  .primary-cta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }
  .watch-video-cta {
    display: block;
    margin-top: 1em;
    img {
      margin-right: 0.5em;
    }
  }
}

section.features-section {
  background: #20272e;
  color: white;
}

.testimonials-section {
  color: white;
  li {
    background: var(--primary-color);
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;

    img {
      width: 5em;
      height: 5em;
      border: 5px solid var(--primary-color);
      border-radius: 50%;
      margin-top: -4.5em;
    }
  }
}

iframe {
  width: 100%;
  height: 300px;
}
nav.menu-btn {
  display: block;
}
nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #0e1828;
  height: 100vh;
  padding: 1em;
  ul.secondary-nav {
    margin-top: 5em;
  }
  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  width: 1em;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  display: block;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 629px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 100px auto;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }
    a {
      color: black;
      font-size: 1em;
      padding: 0.1em 1em;
    }
    ul.secondary-nav {
      margin: 0;
    }
    li.current a {
      font-weight: bold;
    }
    li.book-now-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;
      &:hover {
        background: var(--primary-color);
        color: white;
      }
    }
  }
  .testimonials-section ul {
    display: flex;
    li {
      margin: 0 1em;
    }
  }
}
.footer {
  padding: 3em;
  background-color: #0e1828;
}

$progress-height: 1.4em;
$progress-width: 300px;
$progress-padding: 0.3em;
$progress-value-color: #03fcef;
$value-color: white;
$value-size: 1em;

.bar {
  -webkit-appearance: none;
  height: $progress-height;
  width: $progress-width;
  margin-top: -8em;

  &::-webkit-progress-bar {
    padding: $progress-padding;
    border-radius: calc(#{$progress-height} / 2);
    background: lighten(rgb(0, 0, 0), 5);
  }
  &::-webkit-progress-value {
    background: $progress-value-color;
    box-shadow: 0 0 0.6em lighten($progress-value-color, 2),
      0 0 0.8em lighten($progress-value-color, 4);
    border-radius: calc(#{$progress-height}/ 2);
  }
}

.bar__value {
  color: $value-color;
  font-size: $value-size;
  line-height: $progress-height;
  letter-spacing: 1px;
  margin-top: -8em;
  margin-left: 0.5em;
}

.neon-bar {
  display: flex;
  justify-content: center;
}
