@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400&display=swap");
body {
  background-color: white;
}
:root {
  --primary-color: #013498;
}
mark {
  background-color: yellow;
  color: black;
}
.booking-section {
  display: block;
  margin: 0px;
  justify-content: center;
}
.booking-form {
  max-width: 100%;
  background-color: white;
  border-radius: 50px 50px 50px 50px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
  display: block;
  padding: 1em 2em;
  font-family: Arial;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rating {
  font-weight: bold;
}
.review {
  border: none;
  background: white;
}
.hour {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.6em;
}
.booking-form .header {
  display: flex;
  place-content: space-between;
}

p {
  font-size: 2em;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
}
.time {
  display: flex;
}
.vl {
  border-right: 1px solid darkgray;
  height: 50px;
  margin-left: 10px;
  margin-right: 0.5em;
}
#start-time,
#end-time {
  padding-top: 10px;
  padding-bottom: 10px;

  width: 40%;
  text-align: center;
  margin-top: -2em;
  border-style: hidden;
}

.end-time {
  margin-left: 20px;
}
#myID {
  padding: 1em;
  width: 30%;
  text-align: center;
  margin-top: -2em;
  border-style: hidden;
}
.address {
  padding: 10px;
  border-color: darkgray;
  border-width: 1px;
  border-radius: 25px 25px 0px 0px;
  border-style: solid;
}
.event-date {
  padding: 10px;
  border-color: darkgray;
  border-width: 1px;
  border-top-width: 0;
  border-style: solid;
}
.time {
  padding: 10px;
  border-color: darkgray;
  border-width: 1px;
  border-top-width: 0;
  border-radius: 0px 0px 25px 25px;
  border-style: solid;
}

h3 {
  font-size: 0.8em;
  color: rgb(33, 33, 33);
}
.get-quote {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(to right, #013498, #005ca8);
  margin-top: 1em;

  font-family: "Helvetica";
  text-decoration: none;
  color: white;
}
.reserve {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(to right, #9801a9, #5c0198);
  margin-top: 1em;

  font-family: "Helvetica";
  text-decoration: none;
  color: white;
}

#reserveID,
#time-error {
  display: none;
}
#venue-address {
  padding: 1em;
  width: 80%;
  margin-top: -2em;
  border-style: hidden;
}
.header {
  padding-top: 1em;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.hour-minimum {
  justify-content: center;
  height: 1em;
  margin-bottom: -1em;
  color: rgb(46, 46, 46);

  font-size: 15px;
}

.hours,
.mileage,
.total {
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
  font-family: "Arial";
}
.mileage {
  margin-top: 0.2em;
  font-weight: 100;
}
.total {
  font-weight: 200;
}
.hl {
  width: 100%;
  border-color: lightgray;
  border-width: 0.5px;
  border-style: solid;
  margin-top: 0.5em;
}

.total-summary {
  margin-top: 3em;
  display: none;
}
.error {
  font-family: Arial;
  font-weight: 100;
  color: red;
  display: none;
}

/*reservation clicked*/
.blackout {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.5);
}
.top-div {
  position: absolute;
  z-index: 999;
  background-color: white;
}
#terms {
  display: none;
  height: 500px;
  width: 400;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  top: 20em;
}
.reservation-box {
  z-index: 5;
}
.small-text {
  font-size: 12px;
  margin-bottom: 3px;
}

.highlight {
  background-color: #87cefa;
  border: 1px solid #87cefa;
}

#checkbox-div {
  display: none;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  z-index: 15;
}

.button {
  background-color: #a9a9a9;
  border: none;
  color: white;
  padding: 5px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

#terms p {
  font-size: 0.5em;
}
p {
  margin: 0px;
}

.agreement-box {
  position: relative;
}

.progress-status {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 80px;
}

.booked,
.sign,
.details,
.deposit {
  color: darkgray;
  font-size: 0.8em;
  margin-top: -8em;
}

.inner-text {
  margin-left: 20px;
  margin-right: 20px;
}

#zelle {
  display: none;
  justify-content: center;
  font-family: "Arial";
}

#zelle p {
  font-size: 1.5em;
}
